@import './functions/calculateRem.scss';
@import './mixins/button.scss';

.table-row-container {
  padding: calculateRem(7) calculateRem(13);
  display: grid;
  grid-area: row;
  grid-template-columns: repeat(2, 1fr) calculateRem(220);

  div {
    display: flex;
    align-items: center;

    button {
      @include button();
    }
  }
}
