<div class="login-container">
  <div class="title">
    <h1>EasyRoll</h1>
    <p>Payroll, made easy.</p>
  </div>
  <div class="content">
    <form [formGroup]="form" class="login-form">
      <input
        type="text"
        placeholder="Username"
        formControlName="username"
      />
      <input 
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <button 
        (click)="login()"
        [disabled]="!form.valid"
      >Login</button>
    </form>
  </div>
</div>
