/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Fredoka One', cursive;

  span {
    font-family: 'Fredoka One', cursive;
  }
}
