@import './mixins/button.scss';
@import './variables/colors.scss';
@import './functions/calculateRem.scss';

.content {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;

  button {
    @include button();
    margin: 0 calculateRem(7);
    color: white;
    background: $tertiary; 
  }
}
