<div class="payslip-summary-container">
  <div class="header">
    <div>Pay period</div>
    <div>Gross income</div>
    <div>Income tax</div>
    <div>Net income</div>
    <div>Pension contribution amount</div>
  </div>
  <div class="row">
    <div>{{summary.period | period}}</div>
    <div>R {{thousands(summary.grossIncome)}}</div>
    <div>R {{thousands(summary.incomeTax)}}</div>
    <div>R {{thousands(summary.netIncome)}}</div>
    <div>R {{thousands(summary.pension)}}</div>
  </div>
</div>
